// Import styles PAGES
@use "./pages/home";

// Import des styles de layout
@use "./Layout/header";
@use "./Layout/footer";

// Import styles modal
@use "./components/modal/contactModal";

// Import des tyles du Main
@use "./components/main/intro";
@use "./components/main/bullesMedia";
@use "./components/main/buttonSection";

// Import styles Actu
@use "./components/main/Actu/dernieresActus";
@use "./components/main/Actu/card";

// Import styles Button 
@use "./components/JeuxDeRune/buttonJDR";
@use "./components/button/backToTop";

// Import position Agenda
@use "./components/Agenda/agenda";

// Import styles card Resume association
@use "./components/ResumeAbout/resumeAbout";

// Import style du trait de separation de mes composants
@use "./components/Design/separator";

// Import style button

// Styles globaux
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #795548, #5d4037, #3e2723);
    background-size: 200% 200%; // ✅ Étend le dégradé pour un effet fluide
    animation: waveDiagonal 10s infinite linear; // ✅ Animation fluide et continue
    color: black;
    overflow-x: hidden; // ✅ Cache la barre de scroll horizontale
  }
  
  // ✅ Animation du background en diagonale
  @keyframes waveDiagonal {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  