.media {
    list-style-type: none;
    position: fixed;
    top: 40%; // Centre verticalement
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; // ✅ Assure qu'elles restent au-dessus du contenu

  }
  
  .bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: relative;
    cursor: pointer;
    
  
    img {
      width: 40px;
      height: 40px;
    }
  
  }
  
  /* ✅ Media Query pour les écrans ≤ 562px */
@media screen and (max-width: 562px) {

  .media {
    top: 50%;

    .bulle {
      width: 45px;
      height: 45px;

        img {
          width: 30px;
          height: 30px;
  }
}
}
}

@media screen and (max-width: 375px) {
  .media {
    top: 60%
  }
}